.App {
  display: flex;
  overflow-x: hidden;
}

.left {
  flex: 1 0 30%;
  overflow: auto;
  height: 100vh;
  padding: 15px;

  padding-bottom: 40px;
  border-right: 1px solid #DBDBDB;
}

.right {
  flex: 1 0 50%;
  overflow: auto;
  height: 100vh;
  padding: 30px;
}

.TaskView ~ .TaskView {
  margin-top: 10px;
}

.Input {
  display: flex;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #DBDBDB;
}

.Input .Textarea {
  flex: 0 0 70%;
  margin-right: 10px;
}

.Input .Buttons {
  flex: 0 0 20%;
}

.Input-Buttons {
  display: flex;
  flex-direction: column;
}

.Input-Buttons > * ~ * {
  margin-top: 10px;
}

.Title {
  /* border-bottom: 1px solid #DBDBDB; */
}

.right-Menu {
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.right-Menu > * ~ * {
  margin-left: 30px;
}

.Generated {
  height: calc(100vh - 200px);
}

.MessageBox-Custom {
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
}

.Modal {
  z-index: 20000;
}

.Copy {
  padding-top: 5px;
}
